.divider {
	margin-top: 0em;
	margin-bottom: 0em;
	opacity: 0.7;
	padding: 1px;
}

.container	{
	font-family: 'Roboto', sans-serif;
	font-size:15x; 
	color:#32434B;
	line-height: 45px;
	font-weight:bold;
	padding: 0;
	background: #fff
}

#heading {
	font-weight: bolder;
}

h2{
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

h3{
	font-family: 'Hind Siliguri', sans-serif;
}

.nav-tabs .nav-item .nav-link:link{
	color: #778899;
	font-weight: bold;
}

.nav-tabs .nav-item .nav-link:visited{
    color: #778899;
	font-weight: bold;
}

.nav-tabs .nav-item .nav-link:hover{
    color: #4B0082;
    font-weight: bold;
}

.btn-primary:hover {
	opacity:0.5;
}